{% extends "authorization/authorization_base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<style>
    #formBlock {
        margin: 5%;
        background-color: darkgray;
        padding: 3%;
        border-radius: 10px;
    }
</style>

<div class="container">
    <form class="row g-3" id="formBlock" method="POST" action="{{ url_for('auth.login') }}">
        <div class="col-md-12">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4" name="email" required>
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4" name="pwd" required>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </div>
        <div class="col-12 text-center mt-3">
            <p>Don’t have an account?
                <a href="{{ url_for('auth.register') }}" class="link-light">Sign up</a>
            </p>
            <p>
                <a href="{{ url_for('admin.home') }}" class="link-light">Skip login for  testing purposes</a>
            </p>
        </div>
    </form>
</div>
{% endblock %}
