version: "3.9"

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./database.db:/database.db
    environment:
      - FLASK_ENV=development
      - SECRET_KEY=dev-secret