{% extends "pages_admin/base.html" %}
{% block title %}Vehicle Details{% endblock %}

{% block content %}
<div class="container py-4">
    <a href="{{ url_for('admin.vehicles') }}" class="btn btn-secondary mb-4">Back to vehicle list</a>

    <div class="card">
        <div class="card-header">
            <h5>Vehicle: {{ vehicle['vehicle_id'] }}</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Model</dt>
                <dd class="col-sm-9">{{ vehicle['model'] }}</dd>

                <dt class="col-sm-3">Year</dt>
                <dd class="col-sm-9">{{ vehicle['year'] }}</dd>

                <dt class="col-sm-3">Mileage</dt>
                <dd class="col-sm-9">{{ "{:,}".format(vehicle['mileage']) }} km</dd>

                <dt class="col-sm-3">Fuel Consumption</dt>
                <dd class="col-sm-9">{{ "%.1f"|format(vehicle['fuel_consumption']) }} L/100km</dd>

                <dt class="col-sm-3">Technical Inspection Expiry</dt>
                <dd class="col-sm-9">{{ vehicle['technical_inspection_expiry'] }}</dd>


            </dl>
        </div>
    </div>
</div>
{% endblock %}
